apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-initiation
  namespace: devops-initiation
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/path: '/metrics'
    prometheus.io/port: '8082'
  labels:
    app: devops-initiation
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: devops-initiation
  template:
    metadata:
      labels:
        app: devops-initiation
    spec:
      containers:
      - name: devops-initiation
        image: {{ image_name }}:{{ image_tag }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8082
